.dark-high-contrast {
  --md-sys-color-primary: rgb(229 241 255);
  --md-sys-color-surface-tint: rgb(143 205 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(134 201 255);
  --md-sys-color-on-primary-container: rgb(0 12 24);
  --md-sys-color-secondary: rgb(190 255 208);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(65 220 139);
  --md-sys-color-on-secondary-container: rgb(0 15 5);
  --md-sys-color-tertiary: rgb(238 240 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(192 195 198);
  --md-sys-color-on-tertiary-container: rgb(8 12 14);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 23);
  --md-sys-color-on-background: rgb(224 227 232);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 241 251);
  --md-sys-color-outline-variant: rgb(187 195 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 76 115);
  --md-sys-color-primary-fixed: rgb(203 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(143 205 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 19 33);
  --md-sys-color-secondary-fixed: rgb(104 253 168);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(70 224 142);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 8);
  --md-sys-color-tertiary-fixed: rgb(224 227 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(196 199 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 18 20);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(77 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 36);
  --md-sys-color-surface-container: rgb(45 49 53);
  --md-sys-color-surface-container-high: rgb(56 60 64);
  --md-sys-color-surface-container-highest: rgb(67 71 75);
}
