.dark-medium-contrast {
  --md-sys-color-primary: rgb(191 224 255);
  --md-sys-color-surface-tint: rgb(143 205 255);
  --md-sys-color-on-primary: rgb(0 40 63);
  --md-sys-color-primary-container: rgb(71 157 216);
  --md-sys-color-on-primary-container: rgb(0 1 1);
  --md-sys-color-secondary: rgb(97 247 162);
  --md-sys-color-on-secondary: rgb(0 45 22);
  --md-sys-color-secondary-container: rgb(11 192 114);
  --md-sys-color-on-secondary-container: rgb(0 35 16);
  --md-sys-color-tertiary: rgb(218 221 224);
  --md-sys-color-on-tertiary: rgb(34 38 41);
  --md-sys-color-tertiary-container: rgb(176 179 182);
  --md-sys-color-on-tertiary-container: rgb(36 40 42);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 23);
  --md-sys-color-on-background: rgb(224 227 232);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 79);
  --md-sys-color-on-surface-variant: rgb(213 221 231);
  --md-sys-color-outline: rgb(171 179 188);
  --md-sys-color-outline-variant: rgb(137 145 154);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 46);
  --md-sys-color-inverse-primary: rgb(0 76 115);
  --md-sys-color-primary-fixed: rgb(203 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 33);
  --md-sys-color-primary-fixed-dim: rgb(143 205 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 58 88);
  --md-sys-color-secondary-fixed: rgb(104 253 168);
  --md-sys-color-on-secondary-fixed: rgb(0 21 8);
  --md-sys-color-secondary-fixed-dim: rgb(70 224 142);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 63 34);
  --md-sys-color-tertiary-fixed: rgb(224 227 230);
  --md-sys-color-on-tertiary-fixed: rgb(14 18 20);
  --md-sys-color-tertiary-fixed-dim: rgb(196 199 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 55 57);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(5 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 34);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
