.light {
  --md-sys-color-primary: rgb(0 100 149);
  --md-sys-color-surface-tint: rgb(0 100 149);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(71 157 216);
  --md-sys-color-on-primary-container: rgb(0 50 77);
  --md-sys-color-secondary: rgb(0 109 62);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(11 192 114);
  --md-sys-color-on-secondary-container: rgb(0 71 38);
  --md-sys-color-tertiary: rgb(91 95 98);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(176 179 182);
  --md-sys-color-on-tertiary-container: rgb(66 69 72);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 249 255);
  --md-sys-color-on-background: rgb(24 28 32);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(24 28 32);
  --md-sys-color-surface-variant: rgb(219 227 237);
  --md-sys-color-on-surface-variant: rgb(64 72 79);
  --md-sys-color-outline: rgb(112 120 128);
  --md-sys-color-outline-variant: rgb(191 199 209);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 53);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(143 205 255);
  --md-sys-color-primary-fixed: rgb(203 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 48);
  --md-sys-color-primary-fixed-dim: rgb(143 205 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 75 113);
  --md-sys-color-secondary-fixed: rgb(104 253 168);
  --md-sys-color-on-secondary-fixed: rgb(0 33 15);
  --md-sys-color-secondary-fixed-dim: rgb(70 224 142);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 82 45);
  --md-sys-color-tertiary-fixed: rgb(224 227 230);
  --md-sys-color-on-tertiary-fixed: rgb(24 28 30);
  --md-sys-color-tertiary-fixed-dim: rgb(196 199 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(68 71 74);
  --md-sys-color-surface-dim: rgb(215 218 223);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 249);
  --md-sys-color-surface-container: rgb(235 238 243);
  --md-sys-color-surface-container-high: rgb(230 232 237);
  --md-sys-color-surface-container-highest: rgb(224 227 232);
}
