<app-challenge-header></app-challenge-header>

<div class="container">
    <div class="challenge-detail">
        <div class="main-content">
            <app-challenge-detail-catalog-meta
                [data]="challenge!.challenge_meta"
              />
            <div class="challenge-info">
                <app-challenge-detail-catalog-about [data]="challenge!.challenge_about" />
                <app-challenge-detail-catalog-schedule [data]="challenge!.challenge_schedule" />
                <app-challenge-detail-catalog-increases [data]="challenge!.challenge_increases" />
                <app-challenge-detail-catalog-correction [data]="challenge!.challenge_correction" />
            </div>
        </div>
        <div class="sidebar">
            <app-challenge-detail-catalog-info [data]="challenge!.challenge_info" />
            <app-challenge-detail-catalog-actions
              [actionsData]="challenge!.challenge_actions"
              [isLoading]="isLoading"
              (joinChallenge)="onJoinChallenge($event)"
              (toggleBookmark)="onToggleBookmark($event)"
              (leaveChallenge)="onLeaveChallenge($event)">
            </app-challenge-detail-catalog-actions>
        </div>
    </div>
</div>

<app-challenge-footer></app-challenge-footer>
