<div class="layout layout-chat light">
  <aside class="chat-list">
    <app-chats-header
      (burgerClick)="handleEditClick()"
      (editClick)="handleEditClick()">
    </app-chats-header>

    <app-chats
      *ngIf="!isEditMode"
      (chatSelected)="onChatSelected($event)">
    </app-chats>

    <app-chats-edit
      *ngIf="isEditMode"
      (backToChats)="handleBackToChats()">
    </app-chats-edit>
  </aside>

  <main class="chat">
      <app-chat-header></app-chat-header>
      @if (selectedChatId) {
        <app-chat [chatId]="selectedChatId"></app-chat>
      } @else {
        <app-chat-placeholder></app-chat-placeholder>
      }
  </main>

      <app-drawer
        [isOpen]="isDrawerOpen"
        (overlayClick)="isDrawerOpen = false"
      >
        <li class="NavList__Item"><a class="NavList__Link" routerLink="/">Выйти</a></li>
      </app-drawer>
</div>
