<div class="layout layout-chat">
  <aside class="chat-list">
    <app-chats-header></app-chats-header>
    <div class="chat-items">
        <app-chats (chatSelected)="onChatSelected($event)"></app-chats>
    </div>
  </aside>

  <main class="content">
    <div class="chat">
      <app-chat-header></app-chat-header>
      @if (selectedChatId) {
        <app-chat [chatId]="selectedChatId"></app-chat>
      } @else {
        <app-chat-placeholder></app-chat-placeholder>
      }
    </div>
  </main>
</div>
