<div class="layout layout-chat light">
  <aside class="chat-list" [class.visible-mobile]="!selectedChatId" [class.hidden-mobile]="selectedChatId">
    <app-chats-header
      (burgerClick)="handleEditClick()"
      (editClick)="handleEditClick()">
    </app-chats-header>

    <app-chats
      *ngIf="!isEditMode"
      [currentChatId]="selectedChatId"
      (chatSelected)="onChatSelected($event)">
    </app-chats>

    <app-chats-edit
      *ngIf="isEditMode"
      (backToChats)="handleBackToChats()">
    </app-chats-edit>
  </aside>

  <main class="chat" [class.visible-mobile]="selectedChatId" [class.hidden-mobile]="!selectedChatId">
      <app-chat-header (returnClick)="handleReturnClick()"></app-chat-header>
      @if (selectedChatId) {
        <app-chat [chatId]="selectedChatId"></app-chat>
      } @else {
        <app-chat-placeholder></app-chat-placeholder>
      }
  </main>
</div>
