.layout {
  display: grid;
  grid-template-columns: auto 1fr ;
}

.chat-list {
  width: var(--chat-list-width);
  background-color: var(--md-sys-color-background);
  border-right: 1px solid var(--md-sys-color-outline-variant);
  position: sticky;
  overflow-y: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 0;
  overflow: hidden;
}

/* Адаптивность */
@media (max-width: 1024px) {
  :root {
    --sidebar-width: 280px;
    --chat-list-width: 280px;
  }
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 240px;
    --chat-list-width: 240px;
    --header-height: 56px;
    --chat-header-height: 50px;
  }

  .layout {
    grid-template-columns: 1fr;
  }

  .chat-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    border-right: none;
    background-color: var(--md-sys-color-background);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
  }
}


@media (max-width: 767px) {
  .visible-mobile {
    display: block;
  }

  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .visible-mobile, .hidden-mobile {
    display: block;
  }
}
