<header class="Header">
  <nav class="Header__Nav">
    <ul class="NavList">
      <li *ngIf="currentUser" class="NavList__Item"><a class="NavList__Link" routerLink="/profile">{{ displayName }}</a></li>
      <li class="NavList__Item"><a class="NavList__Link" routerLink="/posts">Статьи</a></li>
      <li class="NavList__Item"><a class="NavList__Link" routerLink="/messages">Сообщения</a></li>

      <app-drawer [isOpen]="isDrawerOpen">Сообщение</app-drawer>
      <button (click)="isDrawerOpen = !isDrawerOpen">Toggle Drawer</button>

    </ul>
  </nav>
</header>
