:host {
  height: calc(100dvh - var(--app-height));
  overflow: auto;
  margin: 0 auto;
  padding: 2rem;
}


.ChatsPage {
  &__Header {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__Title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
  }
}
