$dark-primary: #bb86fc;
$dark-primary-variant: #3700b3;
$dark-secondary: #03dac6;
$dark-background: #121212;
$dark-surface: #1e1e1e;
$dark-error: #cf6679;

$dark-on-primary: #000000;
$dark-on-secondary: #000000;
$dark-on-background: #ffffff;
$dark-on-surface: #ffffff;
$dark-on-error: #000000;
