<div class="chat-header">
  <div class="chat-header-actions-return">
    <button class="chat-action-btn" (click)="onReturnClick()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 6L9 12L15 18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
  <div class="d-flex align-center">
    <div class="chat-avatar">
      <img [src]="user.avatarUrl" [alt]="user.name" />
    </div>
    <div class="ml-3">
      <div class="chat-name">{{ user.name }}</div>
      <div class="d-flex align-center">
        <span class="text-sm chat-status">{{ user.status }}</span>
      </div>
    </div>
  </div>

  <div class="chat-header-actions">
    <button class="chat-action-btn" (click)="call()">
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 4H9L11 9L8 10C9 12 11 14 13 15L14 12L19 13V18C19 19.1046 18.1046 20 17 20C12.8748 20 8.45593 17.978 5.9237 14.0763C3.39147 10.1746 3.29518 5.87283 5 4Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="chat-action-btn" (click)="videoCall()">
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="8" width="14" height="10" rx="2"
              stroke="currentColor"
              stroke-width="2"/>
        <path d="M17 10L21 7V17L17 14"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="chat-action-btn" (click)="openProfile()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="8" r="4"
              stroke="currentColor"
              stroke-width="2"/>
        <path d="M5 20C5 16.134 8.13401 13 12 13C15.866 13 19 16.134 19 20"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>

<!--
<svg id="calendar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="4" y="5" width="16" height="16" rx="2" stroke="currentColor" stroke-width="2"/>
  <path d="M4 9H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M8 5V3" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M16 5V3" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>

<svg id="clock" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="12" cy="13" r="9" stroke="currentColor" stroke-width="2"/>
  <path d="M12 9V13L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M12 5V3" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M19 4L17 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>

<svg id="from-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 7H5C4.44772 7 4 7.44772 4 8V19C4 19.5523 4.44772 20 5 20H16C16.5523 20 17 19.5523 17 19V16" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M16 4L20 8M20 8L16 12M20 8H9" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>

<svg id="message" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M20 12C20 16.4183 16.4183 20 12 20C10.4633 20 9.0615 19.4229 8 18.5L4 20L5.5 16C4.57714 14.9385 4 13.5367 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z" stroke="currentColor" stroke-width="2"/>
  <circle cx="9" cy="12" r="1" fill="currentColor"/>
  <circle cx="12" cy="12" r="1" fill="currentColor"/>
  <circle cx="15" cy="12" r="1" fill="currentColor"/>
</svg>

<svg id="hart" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.03L12 21.35Z"/>
</svg> -->
