<div class="chat-header">
  <div class="chat-header-actions-return">
    <button class="chat-action-btn" (click)="onReturnClick()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 6L9 12L15 18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
  <div class="d-flex align-center">
    <div class="chat-avatar">
      <img [src]="user.avatarUrl" [alt]="user.name" />
    </div>
    <div class="ml-3">
      <div class="chat-name">{{ user.name }}</div>
      <div class="d-flex align-center">
        <span class="text-sm text-success">{{ user.status }}</span>
      </div>
    </div>
  </div>

  <div class="chat-header-actions">
    <button class="chat-action-btn" (click)="call()">
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 4H9L11 9L8 10C9 12 11 14 13 15L14 12L19 13V18C19 19.1046 18.1046 20 17 20C12.8748 20 8.45593 17.978 5.9237 14.0763C3.39147 10.1746 3.29518 5.87283 5 4Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="chat-action-btn" (click)="videoCall()">
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="8" width="14" height="10" rx="2"
              stroke="currentColor"
              stroke-width="2"/>
        <path d="M17 10L21 7V17L17 14"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="chat-action-btn" (click)="openProfile()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="8" r="4"
              stroke="currentColor"
              stroke-width="2"/>
        <path d="M5 20C5 16.134 8.13401 13 12 13C15.866 13 19 16.134 19 20"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>
