<div class="chat-container">
  <div class="connection-status" [class.connected]="isConnected" [class.disconnected]="!isConnected">
    {{ isConnected ? 'Connected' : 'Disconnected' }}
  </div>

  <div class="messages-container">
    <div *ngFor="let msg of messages" class="message" [class.sent]="msg.sender_id === currentUserId">
      <div class="message-header">
        <span class="sender">{{ msg.sender?.username || 'Unknown' }}</span>
        <span class="time">{{ msg.sent_at | date:'shortTime' }}</span>
      </div>
      <div class="message-text">{{ msg.text }}</div>
    </div>
  </div>

  <div class="message-input">

    <app-input
      label=""
      [control]="newMessage"
      type="text"
      placeholder="Сообщение"
      size="lg"
      class="message-input__text"
    ></app-input>

      <app-button
        type="primary"
        size="48"
        [disabled]="!newMessage.value?.trim() || !isConnected"
        (click)="sendMessage()"
      >
        Send
    </app-button>

  </div>
</div>
