:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  overflow: auto; /* скролл будет внутри этого блока */
}

.main-header {
  margin-bottom: 20px;
  font-size: 24px;
  flex-shrink: 0;
  font-weight: bold;
}

.main-footer {
  margin-top: 30px;
  font-size: 12px;
  color: #888;
}
