<div class="chat-header">
  <button class="chat-action-btn" (click)="onBurgerClick()">
    <svg class="chat-header-burger" width="30" height="15" viewBox="0 0 30 20">
      <rect width="30" height="3" fill="currentColor" y="0"></rect>
      <rect width="30" height="3" fill="currentColor" y="8.5"></rect>
      <rect width="30" height="3" fill="currentColor" y="17"></rect>
    </svg>
  </button>
  <h2 class="chat-header-title">Чаты</h2>
  <app-tooltip [position]="{ top: 0, left: 0 }" #tooltip="app-tooltip">
    <button class="chat-action-btn"  tooltip-trigger>
      <svg  class="" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
        <rect x="4" y="4" width="16" height="16" rx="2" stroke="currentColor" stroke-width="2"/>
        <path d="M12 8V16M8 12H16"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"/>
      </svg>
    </button>
    <ng-template>
      @for (admin of users; track admin.id) {
        <button
          class="chat-btn"
          (click)="createAdminChat(admin.id); tooltip.closeTooltip()"
        >
          {{ admin.email }}
        </button>
      }
    </ng-template>
  </app-tooltip>

</div>
