<app-challenge-header></app-challenge-header>


<div class="container">
    <!-- Каталог челленджей -->
    <section class="challenges-catalog">
        @for (challenge of challenges; track challenge.id) {
          <app-challenge-card-general
            [challenge]="challenge"
            (cardClick)="onChallengeClick($event)"
            (imageError)="onImageError($event)">
          </app-challenge-card-general>
        }
    </section>

    <!-- Пагинация -->
    <app-challenge-paginator
      [config]="paginationConfig"
      (pageChange)="onPageChange($event)">
    </app-challenge-paginator>

    <div>
      <p>Текущая страница: {{ paginationConfig.currentPage }}</p>
      <p>Всего элементов: {{ paginationConfig.totalItems }}</p>
    </div>
</div>

<app-challenge-footer></app-challenge-footer>
