<div class="chat-list">
  <h2 class="chat-list__title">Сообщения</h2>
  <div class="chat-list__search">
    <app-input
      label=""
      [control]="search"
      type="text"
      placeholder="Поиск..."
      size="md"
    ></app-input>
   </div>

  <div class="chat-list__items">
    <a *ngFor="let chat of allChats()"
       [href]="'/messages/' + chat.id"
       class="chat-item">

      <div class="chat-item__avatar">
        <img [src]="chat.avatar || 'assets/avatars/default-user.jpg'"
             [alt]="getChatName(chat)">
        <span *ngIf="chat.unreadCount > 0" class="unread-badge">
          {{ chat.unreadCount }}
        </span>
      </div>

      <div class="chat-item__content">
        <div class="chat-item__header">
          <h3 class="chat-item__name">{{ getChatName(chat) }}</h3>
          <span class="chat-item__time">{{ chat.time || '' }}</span>
        </div>

        <p class="chat-item__message">{{ chat.lastMessage || '' }}</p>
      </div>
    </a>
  </div>
</div>
