

<app-challenge-header></app-challenge-header>

<div class="container">
    <!-- Профиль пользователя -->
    <section class="profile-section">
        <!-- Профиль -->
        <app-challenge-profile-bio
          [profile]="userInfo">
        </app-challenge-profile-bio>

        <!-- Статистика -->
        <app-challenge-profile-stats
          [stats]="userStats">
        </app-challenge-profile-stats>
    </section>

    <!-- Челленджи -->
    <section class="challenges-section">
        <h2 class="section-title">Мои челленджи</h2>
        <div class="challenges-grid">
            @for (challenge of challenges; track challenge.id) {
              <app-challenge-card
                [challenge]="challenge">
              </app-challenge-card>
            }
        </div>
    </section>

    <!-- Контакты -->
    <section class="contact-section">
        <h2 class="section-title">Контакты</h2>
        <div class="contact-list">
          @for (contact of contacts; track contact.id) {
            <app-challenge-profile-contact
              [contact]="contact">
            </app-challenge-profile-contact>
          }
        </div>
    </section>
</div>

<app-challenge-footer></app-challenge-footer>

