<div class="auth">
  <h1  class="title">Регистрация</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Ошибка от API -->
    <div *ngIf="apiError" class="api-error">
      {{ apiError }}
    </div>

    <app-input
      label="Никнейм"
      [control]="form.controls['username']"
      placeholder="Введите никнейм"
      size="md"
      errorText="Никнейм обязателен"
    ></app-input>

    <app-input
      label="Email"
      [control]="form.controls['email']"
      type="email"
      placeholder="example@mail.com"
      size="md"
      errorText="Корректный email обязателен"
    ></app-input>

    <app-input
      label="Пароль"
      [control]="form.controls['password']"
      type="password"
      placeholder="Введите пароль"
      size="md"
      errorText="Минимум 8 символов"
    ></app-input>

    <!-- Фамилия -->
    <app-input
      label="Фамилия"
      [control]="form.controls['lastName']"
      placeholder="Введите фамилию"
      size="md"
    ></app-input>

    <!-- Имя -->
    <app-input
      label="Имя"
      [control]="form.controls['firstName']"
      placeholder="Введите имя"
      size="md"
    ></app-input>

    <!-- Отчество -->
    <app-input
      label="Отчество"
      [control]="form.controls['middleName']"
      placeholder="Введите отчество"
      size="md"
    ></app-input>

    <app-button
        type="primary"
        [disabled]="form.invalid"
        typeButton="submit"
      >
        Зарегистрироваться
    </app-button>

    <div style="margin-top: 12px; font-size: 0.9rem; color: #555;">
      Нет аккаунта?
      <a routerLink="/auth/login" style="color: #4a90e2; text-decoration: none; border-bottom: 1px solid transparent; cursor: pointer;">
        Войдите
      </a>
    </div>
  </form>
</div>
