<h1  class="title">Моё приложение — Вход</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="section">
    <label>
      Email:
      <input type="email" formControlName="email" />
    </label>
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="error">
      Корректный email обязателен
    </div>
  </div>

  <div class="section">
    <label>
      Пароль:
      <input type="password" formControlName="password" />
    </label>
    <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="error">
      Минимум 6 символов
    </div>
  </div>

  <div *ngIf="apiError" style="color: red; margin-top: 10px;">
    {{ apiError }}
  </div>

  <button type="submit" [disabled]="form.invalid">Войти</button>
</form>
