<div class="profile">

  @if (user && !loading) {
    <div class="profile-content">
      <div class="profile-header">
        <h1 class="text-3xl">Профиль</h1>
        <button class="btn-primary btn-sm" (click)="editProfile()">Редактировать</button>
      </div>

      <div class="profile-card">
        <div class="profile-avatar">
          <div class="avatar-placeholder">
            {{ user.first_name![0] }}{{ user.last_name![0] }}
          </div>
        </div>

        <div class="profile-info">
          <div class="info-group">
            <label class="info-label">Email</label>
            <p class="info-value">{{ user.email }}</p>
          </div>

          <div class="info-group">
            <label class="info-label">Никнейм</label>
            <p class="info-value">{{ user.username }}</p>
          </div>

          <div class="info-group">
            <label class="info-label">Имя</label>
            <p class="info-value">{{ user.first_name }}</p>
          </div>

          <div class="info-group">
            <label class="info-label">Фамилия</label>
            <p class="info-value">{{ user.last_name }}</p>
          </div>

          @if (user.middle_name) {
            <div class="info-group">
              <label class="info-label">Отчество</label>
              <p class="info-value">{{ user.middle_name }}</p>
            </div>
          }
        </div>
      </div>

      <div class="profile-stats">
        <!-- <div class="stat-item">
          <span class="stat-number">{{ user.articlesCount }}</span>
          <span class="stat-label">статей</span>
        </div>

        <div class="stat-item">
          <span class="stat-label">Последняя активность</span>
          <span class="stat-date">{{ formatDate(user.lastActivity) }}</span>
        </div> -->

        <div class="stat-item">
          <span class="stat-label">Зарегистрирован</span>
          <span class="stat-date">{{ formatDate(user.created_at) }}</span>
        </div>
      </div>

    </div>
  } @else {
    <div class="loading">
      <div class="spinner"></div>
      <p>Загрузка профиля...</p>
    </div>
  }
</div>
